{% extends "layout.html" %}
{% block title %}Info{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% set active_page = "about" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>About Me:</h1>
            <p>My name is Ted Shang and I am a four year Computer Science major at Georgia Tech.</p>
            <p>When I'm not programming, I enjoy hiking and playing boardgames.</p>
            <a href="https://www.linkedin.com/in/ted-shang/">Check out my LinkedIn to send a message</a>
        </div>
        <div class="col-sm-4">
            <img src="https://media.licdn.com/dms/image/C4E03AQEIH0rI9dZBKw/profile-displayphoto-shrink_200_200/0?e=1565222400&v=beta&t=RneMr3uO4jEc4dNiaVglg5xwm88yqg80HT2jqtuEiIA" />
        </div>
    </div>
</div>
{% endblock %}
