{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}


{% block content %}
<h1>Your Groups</h1>
<table id="groups" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Created</th>
            <th scope="col">Last Message</th>
            <th scope="col">Group Description</th>
            <th scope="col">Number of Members</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    {% for group in groups %}
    <tr>
        <td> {{ group.name }} </td>
        <td>{{ group.created }}</td>
        <td>{{ group.updated }}</td>
        <td> {{ group.description }} </td>
        <td> {{ group.members|length}} </td>
        <td>
            <form action="/chatlog" method="post">
                <input type="hidden" name="groupId" value="{{group.id}}" />
                <button type="submit" class="btn btn-primary mb-2">View Chatlog</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#groups').DataTable({
            "createdRow": function (row, data, index) {
                var d = new Date(data[1] * 1000);
                var d2 = new Date(data[2] * 1000)
                var r = d.toLocaleString();
                var r2 = d2.toLocaleString();
                $('td', row).eq(1).html(r);
                data[2] == 0 ? $('td', row).eq(2).html("No Messages"): $('td', row).eq(2).html(r2);
                
            }
        });
    });
</script>
{% endblock %}