{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% set active_page = "home" %}

{% block content %}
<h1>GroupMe Analysis and Visualization Tool</h1>
<p>
    This project utilizes the GroupMe API to provide statistical context and visualization to one's chats. It also features the ability to search and sort through a chatlog.
    All you need to do is click the button below and login with your GroupMe credentials. Then, you can explore all of your chats. </p>

<p class="font-weight-bold">
    All of your information is safe, and the application will not save any of your data.
</p>
<p>The application's code can be found on Github. Click the 'Project Information' tab for more details</p>
<div>
    <a class="btn btn-primary mb-2" href="https://oauth.groupme.com/oauth/authorize?client_id=VPqKQ43jyjsch2gvJwqP1ecntRHNba16TOneW0RLIOLe9dHh">Login here</a>
</div>
{% endblock %}
