<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>{% block title %}{% endblock %} - GroupMe Analysis</title>
    {% endblock %}
    {% block headStyle %}{% endblock %}
</head>
{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/info', 'info', 'Project Information'),
    ('/about', 'about', 'About Me')
] -%}

{% set active_page = active_page|default('home') -%}

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">GroupMe Analysis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% for href, id, caption in navigation_bar %}

                    <li {% if id == active_page %} class="nav-item active" {% endif
                        %}{% if id != active_page %} class="nav-item" {% endif
                        %}>
                        <a class="nav-link" href="{{ href }}">{{ caption }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>

    <!--All content fits in this container-->
    <main role="main" class="container">{% block content %}{% endblock %}</main>


    <footer class="footer">
        <div class="container">
            <span class="text-muted">Ted Shang. tshang3@gatech.edu</span>
        </div>
    </footer>
</body>

{% block script %} {% endblock %}

</html>